
*
{
    margin :0 ;
    padding : 0 ;
    font-family : Helvetica, Arial, sans-serif ;
    scroll-behavior : smooth ;
}

#header
{
    height : 100vh ;
    background-image : url(Images/mainActivities.jpg) ;
    background-position : center ; /* top , bottom , left , right , center */
    background-image : auto ; /* auto , contain , cover */
}

.container
{
    margin-right : 100px ;
    margin-left : 100px ;
}

.logo 
{
    padding : 5px 0 0 ;
    margin-left : -30px ;
    width :300px ;
}

.header-text
{
  max-width : 350px ;
  margin-top : 200px ;
}

h1
{
    font-size : 35px ;
}

h1
{
    font-size : 30px ;
}


.common-btn
{
    padding : 18px 40px ;
    background : transparent ;
    outline : none ;
    border : 2px solid #8C5A49 ;
    color : #8C5A49 ; 
    font-weight : bold ;
}

.common-btn:hover
{
    background : #8C5A49 ;
    color : #FFFFFF ; 
    cursor : pointer ; 
}

.more 
{
    display : none;
}

p
{
    font-size : 15px ;
    line-height : 18px ;
    color : #777 ;
}

.header-text button 
{
    margin-top : 20px ;
    margin-bottom : 60px ;
}


#sideNav
{
    width : 250px ;
    height :100vh ;
    position : fixed ;
    right : -250px ;
    top : 0 ;
    background : #231F20 ;
    transition : 1.0s ;
}

#sideNav a:hover
 {
  color : #F7D7B5 ;
 }


nav ul li 
{
    list-style : none ;
    margin : 50px 20px  ;
}

nav ul li a
{
    text-decoration : none ;
    color : #ffffff ;
}

#menuBtn
{
    width : 120px ;
    right : 25px ;
    top : 25px ;
    cursor : pointer ; 
    position : fixed ; /* absolute , relative , fixed */
    z-index : 2 ; /* Note: Z index only works on positioned elements */
}

/*---Secondary icons--*/

.secondary-icons
{
    display : inline ;
    width : 50px ;
    top : 70% ;
    right : 200px ;
    float : right ;
    transform : translateY(-50%) ;
    z-index : 1 ;  
}

.secondary-icons img
{
    width : 30px ;
    margin : 0 auto 20px ;
    cursor : pointer ;
}

/* --- activities----- */

#activity1
{
    padding : 100px 0  ; /* (top and bottom)=100px  and (left and right)=0 */
    display : flex ; /* block , contents , flex , flow-root , grid , inherit , inline */
    align-items : center ;  /* baseline,center,flex-end,flex-start,stretch */
    flex-wrap : wrap ;
}

#activity2
{
    padding : 100px 0  ; /* (top and bottom)=100px  and (left and right)=0 */
    display : flex ; /* block , contents , flex , flow-root , grid , inherit , inline */
    align-items : center ;  /* baseline,center,flex-end,flex-start,stretch */
    flex-wrap : wrap ;
    background-color : #F5F5F5 ;
}


.activity-left-col
{
    flex-basis : 50% ;
}

.activity-left-col img
{
    width : 100% ;
    margin-left : 60px ;
}

.activity-right-col
{
    flex-basis : 50% ;
    text-align : right ;
}

.activity-text
{
    max-width : 500px ;
    margin-right : 100px ;
    display : inline-block ;
}

.activity-text p
{
    margin : 20px ; 
}


/*-- footer ---*/

#footer 
{
    padding : 50px 0  30px ;
}

hr 
{
    width : 100% ;
    border : 0 ;
    border-top : 3px solid #8C5A49 ;
    margin-bottom : 20px ;
    margin-top : -20px ;
}

.footer-row
{
    display : flex ;
    align-items : center ;
    justify-content : space-between ; /*-- the remaining 15% will be allocated between left and right col---*/
    flex-wrap : wrap ;
}

.footer-left-col
{
    flex-basis : 50% ;
    margin-top : 60px ;
}

.footer-right-col
{
    flex-basis : 35% ;
}

.footer-links
{
    display : flex ;
    justify-content : space-between ; 
    flex-wrap : wrap ;
}

.link-title h4 
{
    color : #8C5A49 ;
    margin : 20px ;
}

.link-title small 
{
    color : #777 ;
    font-size : 13px ;
}

.footer-info
{
    display : flex ;
    align-items : flex-end ;
    justify-content : space-between ; 
    flex-wrap : wrap ;
}

.footer-logo img
{
    width : 100% ;   
}

.footer-logo button
{
    padding : 12px 12px ;
    margin-top : 20px ;
    font-size : 10px ;
}

.copyright-text , .footer-logo
{
    flex-basis : 40% ;
}

/*---Social media icons--*/

.social-icons
{
    width : 50px ;
    position : fixed ;
    top : 50% ;
    left : 10px ;
    transform : translateY(-50%) ;
    z-index : 1 ;
}  


.social-icons img
{
    display : block ;
    width : 30px ;
    margin : 0 auto 20px ;
    cursor : pointer ;
}



@media only screen and ( max-width : 1200px)
{
    

    .activity-left-col , .activity-right-col
    {
        flex-basis : 100% ;
    }

    .activity-left-col img
    {
        margin-left : 0 ;
    }
        
}


@media only screen and ( max-width : 770px)
{
    #header
    {
        background-image : none ;
    }

    .container
    {
        margin-right : 50px ;
        margin-left : 100px ;
    }
    
    .logo 
    {
        margin-top : 47px ;
        width : 330px ;

    }

    .header-text
    {
        margin-top : 100px ;
    }

    h1
    {
        font-size : 25px ;
    }

    h2
    {
        font-size : 20px ;
    }

    p
    {
        margin : 5px ;
    }

    #menuBtn
    {
        width : 80px ;
        right : 50px ;
    }

    .common-btn
    {
        padding : 10px 16px ;
    }

    .social-icons img
    {
        width : 20px ;
        margin : 15px auto ;
    }

    #activity2
    {
        background-color : #FFFFFF ;
    }

    .activity-left-col img
    {
        margin : 0 ;
        margin-top : -120px ;  
    }

    .activity-text
    {
        margin : 50px ;
        display : inline-block ;
        text-align : center ;
    }


    .footer-left-col , .footer-right-col
    {
        flex-basis : 100% ;
    }

    .link-title  
    {
        flex-basis : 50% ;
        margin-bottom : 30px ;
    }

    hr 
    {
        border-top : 1px solid #8C5A49 ;
    }

    .footer-logo img
    {
        width : 150px ;
        margin-bottom : 80px ;
        margin-left : -150px ;
    }

}